[2020-07-21 10:55] Boubaker93 opened #2 "Error: Can't find variable: customVersionComparator"
Hello;

I'm trying to test this library it works fine when i put a versionCode >= to the one in play store. it gives me a response like this :

[code]

But when i but my versionCode < to the one in play store to simulate an outdated version i get this error :
``[Error: sp-react-native-in-app-updates checkNeedsUpdate error: ReferenceError: Can't find variable: customVersionComparator]``

even thoug

[2020-07-24 11:00] rahul-budhia opened #3 "Not working with Expo"
Hi, I am trying to use this in my expo app. I am assuming native linking doesn't work for it right now with expo. I get the following error. Is there any plan to make it work with expo? \
\
![inappupdate](https://user-images.githubusercontent.com/8077032/88384899-93260480-cdad-11ea-9195-ad269d9154c4.jpeg)

Thanks

[2020-07-24 13:38] SudoPlz commented on #3
Hey there @rahul-budhia - we're not using expo at all, but if the project is exported it should work since it's just another react-native project.

I'm not super familiar with expo myself, but a PR would be super welcome!

[2020-07-24 17:46] Gustash commented on #2
#4 fixes this issue

[2020-07-24 17:48] Gustash commented on #3
@rahul-budhia Expo only works with native packages that Expo themselves bundle in, you might have some luck with ExpoKit, but I've personally never tried it.

[2020-07-24 20:30] SudoPlz commented on #2
Fixed on 0.1.0

[2020-07-24 20:30] #2 closed

[2020-07-24 20:32] #3 closed

[2020-09-22 14:41] Dontag opened #6 "Don't know how to implement it"
pls can you add a example code.

[2020-09-22 14:44] SudoPlz commented on #6
Hi, my time is very limited at the moment but I'd be super happy to accept a PR.

That being said, where did you get blocked?

Did you install the npm module and try it out?

Did you run `pod install` on your iOS dir after the npm installation?

Also what react-native version are you on?

[2020-09-23 05:30] Dontag commented on #6
Hi, I'm using Android Platform SDK v29, React-Native - v0.61.5.

I tried it out but it is not showing any result or throwing any error.

To implement it just as you have shown in the example(GIF), can you share one reference code?

Is this code enough to test?
inAppUpdates.checkNeedsUpdate({
  curVersion: '4.8.8',
  toSemverConverter: (ver => {
    // i.e if 400401 is the Android version, and we w

[2020-09-24 11:43] SudoPlz commented on #6
The following is the code we run in our production app :

[code]
and then at some point we invoke:

[code]

[2020-09-24 13:10] Dontag commented on #6
👍

[2020-10-03 07:39] Dontag commented on #6
how to check if the update is downloading using addStatusUpdateListener?

or how to add listener and check the status ?

the document is difficult to understand

there should be an example code to understand the flow

[2020-10-05 15:34] SudoPlz commented on #6
addStatusUpdateListener:
[code]

[2020-10-12 11:48] Dontag commented on #6
I'm getting array undefined error (this.statusUpdateListeners  undefined)

[2020-10-12 14:50] SudoPlz commented on #6
What is the `statusUpdateListeners` variable?

[2020-10-12 18:36] Dontag commented on #6
statusUpdateListeners is an array where the callback is getting stored

[2020-10-12 18:43] SudoPlz commented on #6
I think the problem described here is irrelevant to the library itself.
The scope of your function is wrong, either use arrow functions or bind the callback to this.

[2020-10-12 18:47] SudoPlz commented on #6
Apologies, I was under the impression `statusUpdateListeners` was part of your implementation, obviously you're talking about this line of code: https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/d728d46860d7b63281676ed1d2c10c00d11d1212/lib/index.android.js#L64

It's possible that the context of the function could be wrong.

We probably need to use arrow functions.
I can take a look to

[2020-10-14 08:57] mayupat13 commented on #6
Hey, @SudoPlz It will help us a lot if you give some example that how will I know Is update download completed or not?
How could I detect that app downloading is completed so I can able to install it?
awaiting for your response.

[2020-10-16 23:45] SudoPlz commented on #6
On this PR I'm attempting to add some examples to our project as well as rewrite this module with typescript: https://github.com/SudoPlz/sp-react-native-in-app-updates/pull/7

Any help would be greatly appreciated since I'm still learning my ways around typescript.

[2020-10-19 13:33] #6 closed

[2020-10-22 09:11] Azshar opened #8 "Error: UPDATE_STATUS export type"
<img width="338" alt="Снимок экрана 2020-10-22 в 12 10 00" src="https://user-images.githubusercontent.com/20275419/96850518-95a50280-145f-11eb-82d8-2b80a294a43d.png">

[2020-10-22 11:16] SudoPlz commented on #8
Is your project a react native project?
Does it support typescript?

Btw you're using the alpha version of our library, you can rollback to the non alpha version of you need to.

[2020-10-23 09:17] Ashu81045 opened #9 "Not able to open In app update in OnePlus devices. Any Solution for this?"
Implementing this library in js file with functional components
What i am doing inside my code is

import SpInAppUpdates, { UPDATE_TYPE } from 'sp-react-native-in-app-updates';
const inAppUpdates = new SpInAppUpdates();

 const checkForUpdates = () => {
    let currentAppVersion = DeviceInfo.getVersion(); //getting installed app version through this
    inAppUpdates
      .checkNeedsUpdate({

[2020-10-23 14:38] SudoPlz commented on #9
Interesting, I'm not aware of that at all, but I'm assuming the issue is coming from Google's java code, can you please add a breakpoint here: https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/master/android/src/main/java/com/sudoplz/rninappupdates/SpInAppUpdatesModule.java#L102 and check what version the `appUpdateInfo` contains?

[2020-10-25 14:42] Ashu81045 commented on #9
Thanks for the reply .I will update here with appUpdateInfo findings after debugging code.

[2020-10-26 14:03] Ashu81045 commented on #9
I have debug Java code  https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/master/android/src/main/java/com/sudoplz/rninappupdates/SpInAppUpdatesModule.java#L102 and checked the result of appUpdateInfo.
For OnePlus device this i am getting

{
packageName=app.xxxx.in,
availableVersionCode=XXXXX38,
updateAvailability=1,
installStatus=0,
clientVersionStalenessDays=null,
updatePriority=0,

[2020-10-29 18:31] SudoPlz commented on #9
So this is google territory, I can't really help much with that.
All this module does is wrapping the in-app-update sdk of Google, if that returns the wrong version it's outside the scope of this library, and I'm not really familiar with how that works.
Sorry I wish I could help more :/

[2020-10-29 18:31] #9 closed

[2020-11-20 13:11] Rajesh3R opened #11 "App fails to install in debug mode on android with status code 5"
**I have face issue for install app**

after UPDATE_DOWNLOADED status , I can not install app using  inAppUpdates.installUpdate() funcation,
after UPDATE_DOWNLOADED status, visible 3-5 second installation  screen then after installation screen invisible &
inAppUpdates.addStatusUpdateListener(listner);  return status code 5,
i check in mi device i currently checking in debug mode ,
please give me y

[2020-11-20 15:29] SudoPlz commented on #11
Not entirely sure what the issue is here, can you become more specific?
Maybe add an example with code?

Thanks

[2020-11-20 19:11] Rajesh3R commented on #11
// Sorry for my bad english
// I fallow below step
Step 1:  Click Update App button  update app 100 %
Step 2: show Install now  button visibale
Step 3: Click Install now button (call inAppUpdates.installUpdate();)
step 4: now  listener  return status code 5 (Failed)

// Here is my Example code
import React, { Component } from "react";
import { Text, TouchableOpacity, View,  StyleSheet} from "react

[2020-11-23 14:19] SudoPlz commented on #11
So the issue is you're getting status code 5 (failed) https://developer.android.com/reference/com/google/android/play/core/install/model/InstallStatus.html#FAILED.
This library does it's job (wrapping the native functionality and making it accessible to react-native) but you'll have to debug to figure out why you can't install your update and why you get a Failed status code - probably some miss-c

[2020-11-23 14:19] #11 closed

[2020-11-30 05:26] Murali-mahadeva-BS opened #13 "latest version from playstore is not being detected"
I used react-native-version-check to check the latest from playstore. It worked there but react-native-in-app-updates is not detecting the latest version. Its giving should update as false. if i directly call the update function it says:

 [Error: sp-react-native-in-app-updates startUpdate error: Error: Update unavailable, check checkNeedsUpdate.updateAvailability first]

How can i make it to work

[2020-12-13 20:01] abdollahzadehghalejoghi commented on #13
All this module does is wrapping the in-app-update sdk of Google, if that returns the wrong version it's outside the scope of this library.
Suggestion Debug the steps more accurately using the [Internal app sharing](https://play.google.com/console/u/0/internal-app-sharing)

[2021-01-13 05:33] washim-suuni opened #14 "not working as expected"
hi...you have done good work sir....
but can i know if my app which is in app store it's version code is 1 and version name is 1.0 now i want to make update via this beautiful library but when i follow this library method as i have give curversion 0.1 so i can get the update notification but as always i'm getting no need to update....i have tried so many times but i'm not getting success

this.inA

[2021-01-13 05:40] washim-suuni commented on #14
#abdollahzadehghalejoghi

[2021-01-13 05:41] washim-suuni commented on #14
@abdollahzadehghalejoghi  @SudoPlz

[2021-01-13 07:07] washim-suuni commented on #14
why versionCode is giving me 0.0 @abdollahzadehghalejoghi  @SudoPlz  @Gustash

[2021-01-13 07:32] washim-suuni commented on #14
{ versionCode: 0,
      totalBytes: 0,
      packageName: 'com.photo.gallery.galleryapp.lite',
      status: 0,
      updatePriority: 0,
      isFlexibleUpdateAllowed: false,
      isImmediateUpdateAllowed: false,
      updateAvailability: 1 } response of the library in release version

[2021-01-13 15:09] SudoPlz commented on #14
It sounds like you may need to use a custom `customVersionComparator`.

Here's the default implementation of the version comparator
https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/c237de32571602c07f2dc8ce35f745edf00c70ed/lib/utils.js#L3-L20

Try passing your own comparator, and make sure store version is higher then the current one:
https://github.com/SudoPlz/sp-react-native-in-app-

[2021-01-14 13:59] abdollahzadehghalejoghi commented on #14
Thanks Bro ❤️
If you want to use the default implementation of the version comparator،You must use meaningful versioning by default.
or you need to use a custom customVersionComparator
[This article](https://medium.com/dipien/versioning-android-apps-d6ec171cfd82) describes an example version implementation.

[2021-01-14 14:57] #14 closed

[2021-01-19 03:41] washim-suuni commented on #14
Hi pal ,
Still it's not working I will show you trash

On Thu, Jan 14, 2021, 8:27 PM Ioannis Kokkinidis <notifications@github.com>
wrote:

[2021-01-25 07:27] alz10 opened #15 "Question about the curVersion"
1. Sorry, i just want to confirm. Is this the version from `package.json` or the versionName from `build.gradle`?
2. I already have an app available live on google playstore, do i need to upload a new apk first with this library installed in order to get an update?

My app's `versionName` in build.gralde is `3.0` and i just found out about this package which i think is very useful, i use to tell m

[2021-01-25 18:42] SudoPlz commented on #15
1. This totally depends on your current approach. If package.json is the source of truth of android versions, and android version reads from package.json then yeah.
Keep in mind you're comparing the incoming android in-app-update patch version with whatever you pass to `curVersion` which typically is the current android version.

2. That's just one way of doing it. Another thing I tried was, I mod

[2021-01-25 18:42] #15 closed

[2021-01-26 05:35] alz10 commented on #15
I tried chaging the `curVersion` to `0.0.0` and the version in `package.json` to `0.0.0` as well and the result reason is always `status 1 means there's no new version available`

[2021-01-26 05:55] alz10 commented on #13
@Murali-mahadeva-BS I have the same experience. I also use `react-native-version-check` and it detects my app `versionName` which is `3.0` and it works perfectly, i was able to tell my users that there's an update available in playstore.

On the other hand, this library always throw a reason `status 1 means there's no new version available` no matter how i change the `curVersion`

[2021-01-26 12:09] SudoPlz commented on #15
Do you have code in your gradle file that reads the Android version from package.json? If not whatever version you're using in package.json is irrelevant, it's not read anywhere. Also, what version does the incoming update patch have? is there an incoming patch at all?

You have to take this step by step. Most people struggle because they don't know how to configure in app updates on Android. Reme

[2021-01-28 12:50] TokarAndrii commented on #11
I have the same error - @Rajesh3R have you found fix for it?

[2021-03-02 12:38] usuf16 opened #16 "Example to add inappupdatePrriority"
Can add some example where exactly we need to add the inappupdatepriority based on react native app. it will be more help full on completing the implementation.

[2021-03-02 15:34] SudoPlz commented on #16
Hey @usuf16 , what do you mean?

There's an example in the readme, check the `result.other.updatePriority` section

[2021-03-02 15:34] #16 closed

[2021-03-02 16:36] usuf16 commented on #16
@SudoPlz that will result for setting the priority just my question is that where we need to set the priority in example "gradle.build"?

[2021-03-02 16:39] SudoPlz commented on #16
You set the priority via the google play api, or whichever way you deliver the bundle to the play store.
For example using fastlane, we specify: `in_app_update_priority`
https://docs.fastlane.tools/actions/upload_to_play_store/#uploading-an-apk

[2021-04-06 07:22] irfan102 opened #17 "Not working"
Was working properly a day before, but now not working

[2021-04-06 10:16] SudoPlz commented on #17
What do you mean, is there an error or something?

[2021-04-06 10:18] irfan102 commented on #17
No error at all, the library is displaying the same message in result despite the package being updated to a lower verison.
{
    "other": {
      "isFlexibleUpdateAllowed": false,
      "isImmediateUpdateAllowed": false,
      "packageName": "com.mediconnect.oladoc",
      "status": 0,
      "totalBytes": 0,
      "updateAvailability": 1,
      "updatePriority": 0,
      "versionCode": 95
    },

[2021-04-06 10:22] SudoPlz commented on #17
So are you saying it is working (it does update your app) but to a lower version or do you mean the library says there's no update even though there is according to you?

[2021-04-06 10:24] irfan102 commented on #17
Ok so my apps version was 95 on play store. So i tested this library by downgrading the version to 93 yesterday. And the library was working correctly with the right response in result and everything. Today however even if i downgrade my version to 93 the library produces the above result. Which is incorrect

[2021-04-06 10:31] irfan102 commented on #13
Same issue

[2021-04-06 10:36] SudoPlz commented on #17
Got it, right. So I see that Google responded with update availability 1 which means they think (on their backend side) that there's no update for your app.

https://developer.android.com/reference/com/google/android/play/core/install/model/UpdateAvailability.html#UPDATE_AVAILABLE

This is definitely an in app updates native issue and it's not related to this library which only exposes that native

[2021-04-06 10:36] #17 closed

[2021-04-06 10:49] irfan102 commented on #17
Ok. Let me check

[2021-04-12 11:36] kanikas24 commented on #13
Yes, facing the same issue.

[2021-04-12 12:58] SudoPlz commented on #13
I think this may be related to https://github.com/SudoPlz/sp-react-native-in-app-updates/pull/18 which I'll work on today.

[2021-04-13 13:52] SudoPlz commented on #13
You're probably having typical play issues.
Are you all using internal app sharing?
If not that's why the latest version is not detected.
https://stackoverflow.com/a/59456561/1658268).%03

[2021-05-01 16:57] ShivamJoker commented on #15
@SudoPlz can't this library get version from the gradle and compare automatically rather than manually providing it ?

I used this library for android, it didn't ask for current version - https://github.com/kumparan/react-native-android-inapp-updates

[2021-05-01 17:11] ShivamJoker opened #19 "Getting Require cycle warning"
Can you please fix this ?
[code]

[2021-05-04 09:53] SudoPlz commented on #15
Hi @ShivamJoker yeah that's an interesting suggestion. In our app we specifically wanted to avoid that, but I do see it may make sense for other projects.

That being said, it's very easy to get the app version using something like `react-native-device-info`.

[2021-05-04 10:56] ShivamJoker commented on #15
@SudoPlz are you going to implement it or we will be needing to get it by using device info and provide it manually.

You can keep the function param optional and if user doesn't provide it then get it from native build itself ?

[2021-05-04 10:57] SudoPlz commented on #15
Yeah that's what I was thinking too. I think I'll bake that in whenever I find some free time (no promises though).
A pr would be welcome if you'd like to give it a shot.

[2021-05-04 10:59] ShivamJoker commented on #15
Sure I'll give it shot

[2021-05-05 16:50] ShivamJoker opened #21 "Use Github actions to release npm package automatically on merge"
It's pretty simple to use with this action https://github.com/marketplace/actions/automated-releases-for-npm-packages

You just need to add github and npm token in your repo settings and it will automatically run the npm publish command

[2021-05-05 19:08] #21 closed

[2021-05-05 19:09] SudoPlz commented on #21
At some point I'll implement this.

[2021-05-07 05:33] irfan102 opened #22 "Not getting any event on the click of no thanks button"
I tried looking into the documentation and also in code but could not find an event that is produced when no thanks is clicked. Originally the cancel event should trigger but it is triggered on the click of cancel button that appears on the tray.
Please guide as to how to get the event on no thanks.

[2021-05-19 06:52] Mitdd9707 opened #24 "RN Version 0.61.5 is Not working"
![Screenshot_20210519_121933](https://user-images.githubusercontent.com/64424107/118768597-d3a2c180-b89c-11eb-8a7e-5f6a2983952c.jpg)

**I getting error above the image
any one can help ?**

[2021-05-19 15:32] SudoPlz commented on #24
Have you installed `react-native-device-info`?

Looks like it's missing.

[2021-05-24 13:25] atryino opened #25 "Critical issues reported with Play Core Library version"
The Play Core Library version being used is causing this message when uploading to the Play Store.

<img width="681" alt="Screen Shot 2021-05-24 at 8 17 30 AM" src="https://user-images.githubusercontent.com/6549653/119354133-547d0700-bc69-11eb-94a4-90d93c626241.png">

[2021-05-24 17:45] SudoPlz commented on #25
You can overwrite the play core version yourself.
Check this line of code: https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/master/android/build.gradle#L60

Go to your main `project/build.gradle` (NOT `project/app/build.gradle`), and add the following to your ext object:

ext {
    ...
    playCoreVersion = '1.9.1'
}

or whatever `playCoreVersion` you want to use.

[2021-05-24 17:45] #25 closed

[2021-05-25 11:54] priyak-sdei commented on #13
Facing Same Issue.
Always Getting shouldUpdate: false

Uploaded the App on Play-store as well.

[2021-05-25 11:56] SudoPlz commented on #13
Try updating the play-core version https://github.com/SudoPlz/sp-react-native-in-app-updates/issues/25#issuecomment-847220449

That being said, there's probably an issue with how you set up in-app-updates. It's still a trial and error process to get this right.
All this library does is wrap the native functionality, we don't really add anything to it, so as long as you have it configured properly,

[2021-05-25 11:56] #13 closed

[2021-05-25 15:27] atryino commented on #25
Ah didn't catch that, thanks!

[2021-05-26 06:34] irfan102 commented on #22
@SudoPlz please can you please explain how to achieve this behaviour ?

[2021-05-26 06:43] Mitdd9707 commented on #24
@SudoPlz Yes I install properly still I faceing this issue

[2021-05-26 19:05] SudoPlz commented on #24
I can't repro this, can you upload a simple reproduction project so that I can take a look?

Thank you

[2021-05-26 19:09] SudoPlz commented on #22
Hey @irfan102 apologies for the late response.

Not sure, I don't remember trying that out, but I feel that `checkNeedsUpdate` would throw on cancel (I'm not sure though).
The reason I believe that is because we do have an `addOnFailureListener` listener here:
https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/master/android/src/main/java/com/sudoplz/rninappupdates/SpReactNativeInAppUp

[2021-05-27 04:42] irfan102 commented on #22
@SudoPlz sure, ill let you know how i figured it out.

[2021-05-27 18:11] marciodiasdeveloper opened #28 "error google android play core"
I am trying to act with library and getting the following error

'erro update', { [Error: sp-react-native-in-app-updates checkNeedsUpdate error: Error: com.google.android.play.core.internal.ar: Failed to bind to the service.]
  line: 248904,
  column: 22,
  sourceURL: 'http://10.0.2.2:8081/index.bundle?platform=android&dev=true&minify=false&app=br.com.toolzz.play&modulesOnly=false&runModule=true'

[2021-05-27 19:01] SudoPlz commented on #28
I think the issue is that you're not using a **REAL device**.

https://stackoverflow.com/a/60275447/1658268

[2021-05-27 19:01] #28 closed

[2021-05-27 19:09] marciodiasdeveloper commented on #28
is my code correct?
https://gist.github.com/marciodiasdeveloper/fce9e5ca1afc3d76b9bff22d89c1360e

[2021-05-27 21:15] SudoPlz commented on #28
Hmm it looks right

[2021-05-28 20:51] Warmachine13 opened #29 "Need more documentation Google Play"
Need add to README steps of configuration of google play like

- add com.google.android.play:core
- Enffort REAL DEVICE with SAME ACCOUNT EMAIL
- Have one app on google play with same name of yours and same account
- Enable Internal app sharing on the google play
- add Testers email in internal testing
- call function installUpdate on status 11 of progress

[2021-05-31 16:38] SudoPlz commented on #29
Those are mostly generic instructions about setting up in-app-updates using play core services, and there are plenty of tutorials and instructions on the web.
The purpose of this library is only to expose that functionality to react-native apps (and not teach developers how to use the play core framework).

That being said, those extra instructions on our Readme would be more than welcome and woul

[2021-05-31 20:50] alantoledo007 commented on #19
same

[2021-06-06 13:37] rewhex commented on #9
@SudoPlz Your library as i see, is comparing versionCode from store with versionName from device info, this will not work unless `curVersion` is specified as versionCode manually.

[2021-06-07 15:48] SudoPlz commented on #9
You're absolutely right @rewhex . This seems confusing, and we didn't really realise it because we're using a `customVersionComparator` on our end (which converts version names to version codes).

We'll have to definitely resolve that on the default comparator or just better document the usage so that folks pass their own `customVersionComparator`.

Feel free to use that for now, and if you feel l

[2021-06-07 18:50] rewhex commented on #9
@SudoPlz versionCode can be anything, you cannot convert versionName to versionCode, you must compare only version code, as this is the only thing that can differ: two apps with same versionName can have a different versionCode

[2021-06-07 22:56] rewhex commented on #9
@SudoPlz just noticed that you said, you use it in your project, maybe then you just need to allow us to choose which one to check, versionCode or versionName.

[2021-06-27 05:32] ShivamJoker opened #30 "setInstallSourceAndroid is deprecated and will be removed in the future"
Are we going to get any fixes for this ?

[2021-06-28 11:51] SudoPlz commented on #30
Are you sure you posted this to the right library?

That code is part of another github project that we're not using afaik:

https://github.com/dooboolab/react-native-iap/blob/master/src/iap.ts#L39-L48

[2021-06-28 11:51] #30 closed

[2021-06-28 11:55] ShivamJoker commented on #30
Oh I'm really sorry. I thought this library was using that function 😅

[2021-06-28 12:00] SudoPlz commented on #30
No worries mate.

[2021-06-30 13:19] invyctus92 commented on #29
Hi, I am interested in adding this functionality to my app but am having several difficulties. Could someone help me to correctly configure the library and use it in different cases, especially android. Thanks

[2021-07-01 12:03] divyasri93 commented on #29
I've followed the steps and finally while debugging using the link from internal app sharing, its redirected to playstore with my app opened but **Install** button is missing in it! My app is supported only in US. I'm trying from a different country. Could that be the reason? Kindly clarify, Thanks.

[2021-07-01 12:50] SudoPlz commented on #29
@divyasri93 I'm afraid I don't have an answer to that.
Your question is a generic android in-app-updates question and would be better answered in stackoverflow.

[2021-07-09 13:56] shreyansh-jain opened #31 "App Crashes on IMMEDIATE Update"
I'm using version: 1.1.1, and updating the app with the type 'Immediate'.

The first flow happens smoothly where it asks the user to update the app, but it keeps on installing until it crashes. When I open the app again it shows as updated.

Here is the update call -
`let update_type = {
    updateType: IAUUpdateKind.IMMEDIATE
  };
  try {
    let response = await this.inAppUpdates.startUpdate(

[2021-07-09 15:09] SudoPlz commented on #31
Can you please share a stacktrace at least?

Thanks

[2021-07-10 05:39] shreyansh-jain commented on #31
Thanks, Can you please help me generate a stack trace. Since this can only be tested using internal app sharing, I am unable to generate a stack trace.

[2021-07-13 20:20] DavidInojosa opened #32 "In App Updates not Working"
This is my code, I used the implementation listed on Readme file. When I run on closed test Alpha at PlayStore it doesn't popup any update component. I don't understand what is wrong.

I implemented also " implementation 'com.google.android.play:core:1.10.0' " on android/app/build.gradle.

APP VERSION CODE BEFORE: 25
APP VERSION NAME BEFORE: 1.8

APP VERSION CODE AFTER: 26
APP VERSION NAME AFTER:

[2021-07-17 05:35] shubhamdeol commented on #32
@DavidInojosa Have you make it work. Same happens for me. I can see ```shouldUpdate``` returning true, but when calling startUpdate function nothing is happening.

I have also installed
```implementation 'com.google.android.play:core:1.10.0```

[2021-07-17 06:50] shubhamdeol commented on #22
@irfan102 does this library works for you?
Please let me know how u make it work. I can't even see update popup

[2021-07-17 19:36] DavidInojosa commented on #32
No, if you have any news or why it is not working, remember answering here please. Still trying to figure out what is happening.

[2021-07-19 08:45] SudoPlz commented on #32
@shubhamdeol I'm afraid this has to be done with debugging. We can set up a call and work together on debugging it since I understand it may be difficult to create a reproduction project for in-app-updates.

[2021-07-19 09:01] shubhamdeol commented on #32
@DavidInojosa @SudoPlz I have figured out some issues I had using the library. some of  the ```Types```  library is exporting are coming as undefined, but not giving any import error.

I had to define these two types in my code by myself instead of getting from library.

[code]
Now In app update is working as expected. I had to put some alerts and redeploy app in internal app sharing around 10-20

[2021-07-19 09:09] SudoPlz commented on #32
No worries @shubhamdeol I'm glad you figured that out.
So long story short, are the `AndroidUpdateType` values that are problematic (because they're undefined for some reason ???) or did you find more exported values being undefined?

Do you think you can push a PR with a fix please?

Thank you

[2021-07-19 09:10] shubhamdeol commented on #32
I found only **AndroidUpdateType** and **InstallationStatus** values to be undefined

[2021-07-19 09:16] SudoPlz commented on #32
@shubhamdeol where were those values undefined? In the library itself, or in your code (I'm actually asking if you tried to use those values on your end i.e like `AndroidUpdateType.FLEXIBLE` instead of `IAUUpdateKind.FLEXIBLE`)

[2021-07-19 09:21] shubhamdeol commented on #32
If I was importing LIke I was getting error can not read property of undefined. ```command``` + clicking on these types was taking me to their definition. But I was still getting these values as undefined in my run time production environment.
[code]

So I removed these imports and defined my own types as

[code]

And things worked fine for me.

[2021-07-19 09:25] SudoPlz commented on #32
Ok I see what's going on here..

[code]

are not exported anywhere like so, instead they are renamed and exported with another name:

https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/master/src/index.d.ts#L12

i.e `AndroidUpdateType` is exported as `IAUUpdateKind`.

Todays editors are smart enough to detect a value, but sometimes not smart enough to know it's not exported, that's why

[2021-07-19 09:35] shubhamdeol commented on #32
Yes. This should work. Getting a type error though.

![Screenshot 2021-07-19 at 3 02 31 PM](https://user-images.githubusercontent.com/11364449/126138525-3d4dcda4-fe88-443c-9320-64e3d9535783.png)

May be you are also doing ```export * from './types';``` thats why other type definitions are also being available

[2021-07-19 09:36] SudoPlz commented on #32
ooh interesting 🤔 , I can see how that led to confusion..

[2021-07-19 10:08] SudoPlz commented on #32
Could you please check if that's fixed on 1.1.2 ?

I'd be grateful
Thank you

[2021-07-19 15:51] DavidInojosa commented on #32
I verified what was happening, maybe it could be added to README, I've received undefined because when the In app Update API gets the version of my App, it takes from release mode app (the one active on playstore/appstore), and the version was 1.3.6+7, but In App Updates doesn't read the "+" symbol, so this was the error, I did a update with version 1.3.7 and it worked.

So for me the error was: "

[2021-07-19 15:57] SudoPlz commented on #32
Was `1.3.6+7,` the version code? or the version name?

Can you explain a bit further?

Thanks

[2021-07-19 17:26] DavidInojosa commented on #32
Version Code was 15
Version Name 1.3.0+7

The error was the "+".
So I sent a new release:
Version Code: 15
Version Name: 1.3.7

And In App Update worked.
I didn't see any rule about the "+" symbol for version name work with In App Update, hope this issue help someone else.

[2021-07-19 17:30] SudoPlz commented on #32
Ok cool, so this falls in place along with the rest of the [version name/code changes](https://github.com/SudoPlz/sp-react-native-in-app-updates/issues/9#issuecomment-856176768) I have to make.
Closing this in favour of an upcoming pr .

[2021-07-19 17:30] #32 closed

[2021-08-02 13:00] maslenkov commented on #31
use `react-native log-android` (https://stackoverflow.com/a/38056698/1514072) from your local console to review logs

[2021-08-02 13:41] #29 closed

[2021-08-02 13:41] #8 closed

[2021-08-02 13:41] #24 closed

[2021-08-02 13:42] shreyansh-jain commented on #31
Thanks @maslenkov

[2021-08-11 09:01] srinath116 opened #37 "inapp updates not working"
i have downgraded my app version and tried implementing
playstore Version 1.0.27
versioncode :31
my bundle version :1.0.26
versionCode:30
when I tried to update
got  the below  data
{
"other": {
"isFlexibleUpdateAllowed": false,
"isImmediateUpdateAllowed": false,
"packageName": "com.madahead.app",
"status": 0,
"totalBytes": 0,
"updateAvailability": 1,
"updatePriority": 0,
"versionCode": 11
},
"rea

[2021-08-25 16:46] mezalejandro opened #40 "Unexpected token"
Hello,
on console i have this warning:
<img width="591" alt="Screen Shot 2021-08-25 at 13 46 19" src="https://user-images.githubusercontent.com/568141/130831600-e8125551-e15a-4c9b-ab87-7fb3d6bfd093.png">

Im using Android device

[2021-08-30 04:20] tyhour opened #41 "Install Error(-10): The app is not owned by any user on this device."
Install Error(-10): The app is not owned by any user on this device. An app is "owned" if it has been acquired from Play. (https://developer.android.com/reference/com/google/android/play/core/install/model/InstallErrorCode#ERROR_APP_NOT_OWNED)
Error: sp-react-native-in-app-updates checkNeedsUpdate error: Error: com.google.android.play.core.install.InstallException: Install Error(-10): The app is n

[2021-08-30 14:21] SudoPlz commented on #41
Not sure how to help with this one, but it's sounds like a google play error relative to your implementation and not related to the in-app-updates wrapper.
Stack overflow sounds like a better place to post that.

[2021-08-30 14:21] #41 closed

[2021-08-31 10:29] nirajniroula opened #42 "Vulnerability in axios"
A vulnerability CVE-2020-28168 detected in package _axios<0.21.1_ is referenced by `sp-react-native-in-app-updates` via _react-native-siren@0.0.3_. It has been fixed in the [latest release](https://github.com/GantMan/react-native-siren/releases/tag/v0.0.4).

Can we please use the latest version of `react-native-siren` in the next release?

[2021-08-31 10:56] #42 closed

[2021-08-31 11:00] SudoPlz commented on #42
Fixed in 1.1.3

[2021-09-08 17:22] mezalejandro opened #43 "Update com.google.android.play:core"
On Play Store i have this message:
Your app contains a vulnerability that can lead to an attacker writing data to your app's internal storage. This is because your app is using an old version of the Play Core Library. Update the Play Core Library in your app to the latest version (1.7.2 or above).

Thanks

[2021-09-08 18:01] SudoPlz commented on #43
https://github.com/SudoPlz/sp-react-native-in-app-updates/issues/25#issuecomment-847220449

[2021-09-08 18:01] #43 closed

[2021-09-14 17:46] parth-koshta commented on #37
@srinath116 were you able to fix this?

[2021-09-15 11:44] parth-koshta commented on #37
So I was not not getting updates because of Play store cache.

What I did to get the update:

1. Install app through internal test track.
2. Release a new update.
3. Clear data of Play store app.
4. Open play store app. Go to My apps & games and you should see the app update there.
5. Now open your app and update will be available.

Make sure you're logged in on the play store from same email id t

[2021-09-15 13:51] parth-koshta commented on #31
Hey @shreyansh-jain
Were you able to fix this? My app crashes after update is installed.

[2021-09-15 14:19] shreyansh-jain commented on #31
Nope. Didn't found the fix. But the same package is working perfectly with my other app so I guess the issue is with some other files which are already present in the app.

[2021-10-09 20:09] mdehghani65 opened #48 "new NativeEventEmitter()` was called with a non-null argument"
after upgrading to RN 0.66 I keep receiving these warnings when app starts:

 WARN  `new NativeEventEmitter()` was called with a non-null argument without the required `addListener` method.
 WARN  `new NativeEventEmitter()` was called with a non-null argument without the required `removeListeners` method.

I don't receive this warning if I comment out codes related to this package

[2021-11-10 09:09] radio-gra opened #50 "Handling the cross icon press on the initial prompt for immediate update"
When `startUpdate` is called with `{updateType: IAUUpdateKind.IMMEDIATE}`, the promise gets resolved and a prompt is opened. If the user cancels the update in this stage by pressing the cross icon (circled in the screenshot), there seems to be no way to handle that because `startUpdate`'s promise has already been fulfilled by that point, and `addStatusUpdateListener`'s callback is not triggered un

[2021-11-10 14:18] radio-gra commented on #50
I think i got it.

For anybody else who runs into this problem - there's an undocumented pair of functions `addIntentSelectionListener` & `removeIntentSelectionListener` that deal with the end result of the update in the same manner as `addStatusUpdateListener`/`removeStatusUpdateListener` deal with intermediate results. The callback will return `AndroidInstallStatus.CANCELED` code if you deny/can

[2021-11-10 14:18] #50 closed

[2021-11-16 06:10] amit12239 opened #51 "Getting warning in play console (Update the Play Core Library in your app to the latest version (1.7.2 or above).)"
Critical issues have been reported with the following SDK versions:
com.google.android.play:core:1.7.1
What the SDK developer told us:
Your app contains a vulnerability that can lead to an attacker writing data to your app's internal storage. This is because your app is using an old version of the Play Core Library. Update the Play Core Library in your app to the latest version (1.7.2 or above).

[2021-11-19 18:36] jtwilz2021 commented on #51
Hi I'm getting these errors when trying to publish app can someone please help.

StrictMode policy violation: android.os.strictmode.NonSdkApiUsedViolation: Ljava/lang/invoke/MethodHandles$Lookup;-><init>(Ljava/lang/Class;I)V
	at android.os.StrictMode.lambda$static$1(StrictMode.java:407)
	at android.os.-$$Lambda$StrictMode$lu9ekkHJ2HMz0jd3F8K8MnhenxQ.accept(Unknown Source:2)
	at java.lang.Class.get

[2021-11-19 18:37] SudoPlz commented on #51
[Check this out](https://github.com/SudoPlz/sp-react-native-in-app-updates/issues/25#issuecomment-847220449)

You should use another play core library.

[2021-11-19 18:37] #51 closed

[2021-11-20 03:31] tronghieu60s opened #52 "Update com.google.android.play:core"
I have a warning issue when upload in Google Play Store.

_Your app contains a vulnerability that can lead to an attacker writing data to your app's internal storage. This is because your app is using an old version of the Play Core Library. Update the Play Core Library in your app to the latest version (1.7.2 or above)._

[2021-11-22 14:41] #52 closed

[2021-12-09 17:13] Gustavo064 opened #53 "error entering into checkNeedsUpdate function"
When I click on the button to update it issues an error

![Imagem do iOS](https://user-images.githubusercontent.com/78024109/145443653-ec54d091-9a45-4385-a691-389050bfa741.jpg)

[2021-12-23 11:33] a-eid commented on #3
@gustash that is not the case anymore with expo custom dev clients and expo plugins.
you can create a plugin for any native package to work with an expo custom dev client.

[2021-12-24 09:25] amityadav12239 opened #54 "Due to use of com.google.android.play:core:1.7.1 , google play console showing Critical sdk issue in app"
Warning from play console:

Your latest production release (42010506 (1.5.6)) contains SDK issues
Critical issues have been reported with the following SDK versions:

    com.google.android.play:core:1.7.1

What the SDK developer told us:
Your app contains a vulnerability that can lead to an attacker writing data to your app's internal storage. This is because your app is using an old version of t

[2021-12-29 12:03] amit12239 opened #55 "Android device app update popup is showing but in iOS devices I can't even see update popup"

[2021-12-31 12:24] fareed945 opened #56 "Current behavior when user closes the app after triggering the IMMEDIATE UPDATE"
Hey,
Could you please provide info on the Current behavior when user closes the app after triggering the IMMEDIATE UPDATE .
Do we need to check for DEVELOPER_TRIGGERED_PROGRESS  and make the user install or is it handled already.

[2022-01-03 14:14] SudoPlz commented on #54
[Check this out](https://github.com/SudoPlz/sp-react-native-in-app-updates/issues/25#issuecomment-847220449)

You should a new play core library version.

[2022-01-03 14:14] #54 closed

[2022-01-03 14:19] SudoPlz commented on #55
What do you mean? What error are you getting?

[2022-01-03 14:27] SudoPlz commented on #56
This library just calls [startUpdateFlowForResult](https://developer.android.com/reference/com/google/android/play/core/appupdate/AppUpdateManager.html#startUpdateFlowForResult(com.google.android.play.core.appupdate.AppUpdateInfo,%20int,%20com.google.android.play.core.common.IntentSenderForResultStarter,%20int)) below the hood:

https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/3c5581

[2022-01-03 14:27] #56 closed

[2022-01-06 10:22] moowoonsunghoon opened #57 "can't i use it with codepush??"
updating this package to a previous version using code push results in an error.

can't i use it with codepush??

[2022-01-06 14:39] SudoPlz commented on #57
We're using code-push in production along with this package, but I don't know if you can "update" this package with code-push.
This is a code-push question, and totally unrelated to this library.

[2022-01-06 14:39] #57 closed

[2022-01-06 16:12] moowoonsunghoon commented on #57
I'm sorry, I confused you because I'm not good at English.

What I'm trying to say is,
I installed this library and updated my app using code-push, but I got this error message.

[code]

Do you know anything about this?

Thank you.

[2022-01-06 17:02] SudoPlz commented on #57
Unfortunately not, I think that's indeed a codepush issue :/ I wish I could help more with your usecase

[2022-01-07 00:51] mardikarifqi commented on #55
This happened to my ios app. I think this is a react-native-siren's bug.

My app only released in a specific region. The siren library checks by calling `https://itunes.apple.com/lookup?bundleId=xxx`. In case of my app, I have to lookup using `https://itunes.apple.com/{countryCode}/lookup?bundleId=xxx`.

[2022-01-07 00:53] mardikarifqi opened #58 "Please update com.google.android.play:core SDK to 1.7.2 or above (Critical Issue)"
![image](https://user-images.githubusercontent.com/16059055/148473552-4d480d92-0c76-4363-8411-777e7d7fab1e.png)

When releasing my app on the Play Store, I got a warning. Here's a [link](https://developer.android.com/reference/com/google/android/play/core/release-notes#1-7-2) to the bug. Play core latest version now is 1.10.+

[2022-01-07 16:21] SudoPlz commented on #58
Either upgrade to the latest version of the library, or [manually pass another core version](https://github.com/SudoPlz/sp-react-native-in-app-updates/issues/25#issuecomment-847220449)
.

[2022-01-07 16:21] #58 closed

[2022-01-07 16:32] SudoPlz commented on #55
Got it, yes you're probably right. Could you possibly open a bug report there, and link it to this issue? I'd be grateful.

Thanks

[2022-01-09 02:04] mardikarifqi commented on #58
Ah, I see. Thanks, hope this information got published in the README.md

[2022-01-11 11:54] varunsdcet opened #59 "Android Device Popup Not showing"
Hi , I am using this code  And using  Internal Test track .but nothing show

   const inAppUpdates = new SpInAppUpdates(
      false // isDebug
    );

    // curVersion is optional if you don't provide it will automatically take from the app using react-native-device-info
    inAppUpdates.checkNeedsUpdate({ curVersion: DeviceInfo.getVersion()}).then((result) => {
      alert(JSON.stringify(result

[2022-01-11 12:18] sofiyaca commented on #59
Having the same issue. Google Play shows that an update is available however the result from `checkNeedsUpdate()` is that no update is available.

[2022-01-12 04:46] naveed1239 opened #60 "toSemverConverter function not getting called"
export const updateApp = () => {
  const inAppUpdates = new SpInAppUpdates(
    false // isDebug
  );
  inAppUpdates
    .checkNeedsUpdate({
      curVersion: "1.0.36",
      toSemverConverter: (ver) => {
        console.warn("e/.............................", ver);

        return "2";
      },
    })
    .then((result) => {
      console.warn("result", result);

      if (result.shouldUpdate) {

[2022-01-12 09:16] naveed1239 opened #61 "in-app-update in not working with enableSeparateBuildPerCPUArchitecture = true"
when creating four different apk's with **enableSeparateBuildPerCPUArchitecture = true** I am getting the response as given below
 result {"other": {"isFlexibleUpdateAllowed": false, "isImmediateUpdateAllowed": false, "packageName": "com.teachopia.education", "totalBytes": 0, "updateAvailability": 1, "updatePriority": 0, "versionCode": 3145738}, "reason": "status: 1 means there's no new version av

[2022-01-12 13:40] MicaelaWaigel commented on #48
The newest version of react native require that implement the addListener and removeListener methods.
The methods do not need to do anything, they just have to be there.

I resolved adding this to `SpReactNativeInAppUpdatesModules.java`
[code]

[2022-01-12 14:42] mdehghani65 commented on #48
thx for replying

[2022-01-12 17:00] SudoPlz commented on #48
Does anyone feel like adding those via a PR?
Thanks

[2022-01-13 10:17] Hamuli-Team commented on #48
Thanks you! Its work!

[2022-01-13 15:36] evelant commented on #59
Also seeing a similar thing. The versionCode returned by `checkNeedsUpdate()` is about 3 weeks old and 7 releases behind the current working version. I'm using open testing on the play store. @SudoPlz Any idea why this library might return a significantly out of date version code?

[2022-01-13 15:58] SudoPlz commented on #59
@evelant I doubt this has anything to do with this library. This lib just wraps the in-app-updates API, it doesn't add anything on top of it, so if it returns an old version, you probably need to troubleshoot in-app-updates itself.

I know troubleshooting that is hard, it's a trial an error process, and I have to go through it myself every time I need to figure out what went wrong.

[2022-01-13 16:37] evelant commented on #59
Thanks for the reply. After looking through the code there's no way it's this library... Google is caching the update version code for an unknown reason. I think it's just a bug on this device I'm testing with. The system "manage apps" menu shows an update available but with the wrong date (from the old version code) despite the play store showing an update available to my actual latest version.

[2022-01-15 18:18] se09deluca opened #64 "checkNeedsUpdate not working with iOS apps for limited countries"
Hi,
currently the iOS apps limited to certain country are not found by the lookup api of iTunes, because of a country code filter needed that is missing.
I propose to update react-native-siren to the newest version ([currently v0.0.5](https://github.com/GantMan/react-native-siren/releases)) and adds an optional country param to CheckOptions, than pass down to Siren's performCheck function.

Let me

[2022-01-17 05:08] ikhsanalatsary commented on #55
Hi @SudoPlz, I would like to help. I have already opened Pull Request. Please review it and let me know if you have any concerns or technical debt.

[2022-01-17 13:52] SudoPlz commented on #64
Duplicate of https://github.com/SudoPlz/sp-react-native-in-app-updates/issues/55 let's track it there.

[2022-01-17 13:52] #64 closed

[2022-01-17 13:53] #55 closed

[2022-01-17 13:55] SudoPlz commented on #55
Fix released with 1.1.5, thank you so much for putting that together @ikhsanalatsary .

[2022-01-17 17:26] se09deluca commented on #55
👍🏻

[2022-01-30 07:15] wahidshadab opened #68 "My app gets closed when the update is installed."
I have followed the documentation and the example provided. My android app can detect the update and It can also download the app and install it. But, after installation my app is closed.
What I want is to reload my app. I don't know if the library is working that way or there is a problem in my case?
I have searched a lot about it. but, the only thing that I found was to define a new native modul

[2022-01-31 09:33] wahidshadab commented on #13
The same happened for me too. It was returning false for should update.
Resetting google play store's cache and data on my device worked for me. I hope it works for others as well.

[2022-01-31 12:07] SudoPlz commented on #68
It's not easy for me to help with the above information to be honest.

That being said, this library just wraps the google in-app-update API, it doesn't do anything other than invoke the native in-app-update functionality, so I think that's what you should be researching for, figuring out how the native InAppUpdate API works.

[2022-01-31 12:07] #68 closed

[2022-02-07 04:29] wahidshadab commented on #68
I have already add an addStatusUpdateListener. I want it to be able to check if the installation is done or not.  If installation is completed I want to show a pop up to restart the app. but right now I don't get anything to detect the installation is done, instead my app is being closed. after the app is installed.
Here is how I have implemented it.

`this.#inAppUpdates.addStatusUpdateListener(th

[2022-02-07 16:54] wahidshadab commented on #68
I am trying to use IMMEDIATE in app update and I want the app to force users to download and install the update. When the gets mounted it will check for the update and if there is an available update, it will show a pop up menu saying it's recommended to update the app. when the user clicks on update, the app starts downloading update and after it's done downloading it install's the update and clo

[2022-02-07 17:57] SudoPlz commented on #68
@wahidshadab It sounds to me that the app is crashing, are you using anything to get those logs? There should be some indication of the crash.

[2022-02-08 11:05] Naveenchandar opened #69 "Couldn't fetch the latest version"
Hi, I've tried following example code mentioned in example folder in my project but it doesn't get the latest version from playstore. It always throws error as **'"other": {"updateIsAvailable": false}, "reason": "Couldn't  fetch the latest version", "shouldUpdate": false}"**.
In package.json file version is '0.0.1' and android/gradle file I've changed the version as '1.1.5' and Info.plist ios file

[2022-02-09 12:41] bohdankonovalov commented on #69
Same issue, any solutions?

[2022-02-14 15:12] Naveenchandar commented on #69
Till now I haven't got solution yet.

[2022-02-18 13:12] dougg0k opened #71 "Error: com.google.android.play.core.install.InstallException: Install Error(-3): The API is not available on this device."
Hi, I got this error reported on sentry.

![err1](https://user-images.githubusercontent.com/10801221/154689031-1b92d178-18db-4eda-9c5f-f8afe8348156.png)

[2022-02-18 13:13] dougg0k opened #72 "Error: com.google.android.play.core.internal.al: Failed to bind to the service."
Hi, I also got this error reported on sentry.

![err2](https://user-images.githubusercontent.com/10801221/154689129-dc55b083-9c0c-42c6-b57f-bc5dadadd5aa.png)

[2022-02-18 13:30] SudoPlz commented on #72
This library is wrapping the in-app-updates api released by google. The issue you're describing originates on the google API, I'm afraid I can't help you.

Stack overflow would be the place to ask about the in-app-updates api, apologies but I'll have to close this in hopes of only keeping issues which are bugs of our library specifically.

Feel free to attach a stack overflow ticket to this issue,

[2022-02-18 13:30] #72 closed

[2022-02-18 13:30] SudoPlz commented on #71
This library is wrapping the in-app-updates api released by google. The issue you're describing originates on the google API, I'm afraid I can't help you.

Stack overflow would be the place to ask about the in-app-updates api, apologies but I'll have to close this in hopes of only keeping issues which are bugs of our library specifically.

Feel free to attach a stack overflow ticket to this issue,

[2022-02-18 13:30] #71 closed

[2022-02-18 13:31] dougg0k commented on #71
It's fine, thanks.

[2022-02-23 17:33] shubhamraka08 commented on #69
still not resolved.

[2022-03-01 11:36] manikandan-qijang commented on #59
I am also facing this issue. In Google, it says that there is an update but in the app it doesn't. I am using sp-react-native-in-app-updates: '^1.1.6'

Please, help me on this.

[2022-03-09 15:22] #48 closed

[2022-03-21 21:27] Matheuschn commented on #32
This import issue is still happening as of version 1.1.7.
Importing AndroidInstallStatus makes it so the object is undefined. Importing IAUInstallStatus fixed the issue.

[2022-03-25 10:57] PardeepRaman opened #79 "Unable to test iOS app update implementation."
Hi, i am not able to test this implementation in iOS before moving it to production just like you provided internal testing option for android and its working fine for that. So, please suggest me how to test it once before release it out.
Thanks.

[2022-03-31 07:16] roysG commented on #79
Same here

[2022-04-04 15:21] glrahulborah commented on #59
Facing the same issue

[2022-04-04 18:07] SudoPlz commented on #59
Closing since stack overflow is a better place to ask questions about in-app-updates. This library just exposes the native functionality.

[2022-04-04 18:07] #59 closed

[2022-04-05 09:19] glrahulborah commented on #59
It works fine. I think mostly this issue is related to Google play store caching. You may find this stackoverflow question useful - https://stackoverflow.com/questions/56575180/android-in-app-update-returns-cached-app-update-info

[2022-04-15 04:03] tsachit opened #82 "Binder has died"
Any idea what this is or how does this happen?

[code]

[2022-04-19 21:02] tonybao1 opened #83 "Switch the Upgrade/Cancel button for iOS?"
Is it possible to switch the Upgrade and Cancel button for the iOS alert?

[2022-04-26 13:58] SudoPlz commented on #83
Our project uses react-native-siren for iOS.
You can change the text for sure (using those options: https://github.com/GantMan/react-native-siren#options) but to change more, you'll have to take a look at the react-native-siren code.

[2022-04-26 13:58] #83 closed

[2022-04-28 06:56] Islam312 commented on #79
you can manually set a lower version than this assembly, I managed to test with curVersion, everything is fine to redirect

[2022-04-30 06:00] rvuyyuru1 commented on #61
LOG  checkNeedsUpdate [Error: sp-react-native-in-app-updates checkNeedsUpdate error: Error: com.google.android.play.core.internal.ar: Failed to bind to the service.]

[2022-05-10 06:37] rdtf1230 opened #86 "when in app updates finished, Update not applied after restart"
my app version 2.2.3

playstore version 2.3.0

in this case,

it looks like in-app updates works fine
but when update finished and restart app,
but app version is still 2.2.3

how can i fix it?

[2022-05-11 02:55] ddikodroid commented on #79
you can test it on ios simulator?

[2022-05-12 06:21] parth-koshta commented on #82
Hey @tsachit
I'm also seeing this error, were you able to find out a fix?

[2022-05-12 07:11] tsachit commented on #82
Not yet, my guess is the process died while calling `checkNeedsUpdate` method. Not sure how do I fix that.

[2022-05-16 04:40] Islam312 commented on #79
you can build project test on testFlight

[2022-05-18 04:38] rahult-sdei opened #91 "Start Update not working Properly. Always give Status 5 after installing"
"sp-react-native-in-app-updates": "^1.1.3"
 "react": "17.0.2",
 "react-native": "0.66.4"

Issue I am facing in android whenever, I call startUpdate method listenser gives
status 2
status 11
status 3
and finally status 5 (1.e failed)

Please help me why this is happening and provide some solution to avoid this issue.

[2022-06-06 14:08] vadim-tarasenko opened #95 "Testing library on emulator or TestFlight"
In a documentation I see that the library make a decision about update availability depends on application version in the AppStore. Are there any ways to test this react-native-in-app-updates via TestFlight or even iOS emulator?

[2022-06-06 19:26] devWaleed commented on #95
Some similar issue here, getting the following response in console

[code]

[2022-06-07 07:43] glrahulborah opened #96 "Remove dependency on jcenter"
Gradle 7.0 will deprecate the use of `jcenter()` to resolve dependencies. You will still be able to use JCenter as a repository, but Gradle will emit a deprecation warning. The `jcenter()` method will be removed in the next major release.

Source: https://blog.gradle.org/jcenter-shutdown

Please migrate or use `mavenCentral()` as an alternative to resolve dependencies.

[2022-06-09 20:05] devWaleed commented on #86
Bump!

Facing same issue here. In app drawer I am displaying app version using DeviceInfo.getVersion(). When app is updated via this library, I close the app and start it again and in app drawer I still see old version. No further app updates are available at this point.

[2022-06-09 21:10] devWaleed commented on #86
I found that calling installUpdate is important after download is complete. You have to start a listener and once app updates are downloaded you have trigger install function to install the update.

[code]

[2022-06-15 01:31] dkahdwk opened #98 "NeedsUpdateResponse is not up to date"
The latest version on the Google Store is build number 12, version 1.1.2,
but the NeedsUpdateResponse data returns :
[code]

The version code should output 12 instead of 11. What is the problem?
(It was released yesterday)

[2022-06-15 13:34] vaishambre31 commented on #53
make sure you use real device for testing...this will not work on any emulator

[2022-06-17 00:56] dkahdwk commented on #98
Android found the results because it was slow to reflect. I will close the issue because I brought the latest version well in two days.

[2022-06-17 00:56] #98 closed

[2022-06-18 13:13] Lekhrajk commented on #91
Did you find out what is the issue or still facing same problem ?

[2022-06-18 13:24] Lekhrajk commented on #86
During installation, I am always getting a status: 5 (i.e installation failed)! Is anyone facing the same issue?

[2022-06-18 13:37] Lekhrajk opened #99 "Installation always giving error status:5"
This is what i am getting everytime during installation
` download status {"bytesDownloaded": 0, "status": 11, "totalBytesToDownload": 0}
 download status {"bytesDownloaded": 0, "status": 3, "totalBytesToDownload": 0}
 download status {"bytesDownloaded": 0, "status": 5, "totalBytesToDownload": 0}`

Please look into this

Device : Realme1,
OS Type : Android 9,
Package version :  sp-react-native-in-

[2022-06-22 12:13] khushbu-coworks commented on #91
Did you find out any solution for this issue?

[2022-06-22 12:21] khushbu-coworks commented on #86
Did you find out any solution for status: 5 issue?

[2022-07-21 12:42] Udit-takkar opened #100 "not working correctly for android ( getting version code instead of version name)"
On ios is it working fine but in android it is always returning shouldUpdate even though it is updated.
the store version is returning versionCode instead of version.

phone:- OnePlus7
sp-react-native-in-app-updates: latest version

[2022-07-25 16:11] xtl-geiger commented on #100
I am experiencing the same problem. Using 1.1.6.

In this line the dependency ends up comparing the buildNumber with the versionName. (f.e. 510 with 0.8.1)
[https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/ed1080b6ab379dacd44d550933ad3a8937ca78af/src/InAppUpdates.android.ts#L119](https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/ed1080b6ab379dacd44d550933ad3a8937ca78af/s

[2022-08-02 09:32] rvuyyuru1 commented on #99
same here

[2022-08-05 09:29] monireamini commented on #95
If your app is available only in one country, the `country` field must be provided for the `startUpdate` and `checkNeedsUpdate` methods. By doing so, you can see the update alert on your ios device.

[2022-08-05 09:34] monireamini commented on #69
If your app is available only in one country, the `country` field must be provided for the `startUpdate` and `checkNeedsUpdate` methods. By doing so, you can see the update alert on your ios device.

[2022-08-26 05:42] devWaleed opened #101 "Should mention some where about public/private apps"
In the ReadMe file, with iOS details, I think we should mention that if the iOS app is private or available for Apple Business users only. It will not show a popup because the lookup API of iTunes does not return anything for those apps.

[2022-09-16 07:49] ddikodroid commented on #100
@Udit-takkar  @xtl-geiger did you guys manage to solve it?

[2022-09-16 08:01] Udit-takkar commented on #100
Nope

[2022-09-16 08:39] ddikodroid commented on #99
@Lekhrajk @rvuyyuru1 did you manage to solve this issue?

[2022-09-16 13:10] mwerder commented on #96
@SudoPlz I think there is already a [PR](https://github.com/SudoPlz/sp-react-native-in-app-updates/pull/65).

[2022-09-16 15:01] SudoPlz commented on #96
Merged and released on 1.2.0

[2022-09-16 15:01] #96 closed

[2022-09-17 08:11] mwerder opened #106 "storeVersion does not return anything"
I don't know what am I doing wrong... I am on the internal track for google play on version 1.39.31.317.
When I enter the play store I can see that there is an Update to 1.39.32
But the lib returns hasUpdate: false.
Furthermore storeVersion does not return anything, which should return "The latest app/play store version we're aware of"

"sp-react-native-in-app-updates": "^1.1.7",

[code]

[2022-09-17 08:37] mwerder commented on #106
ok seemed to be an issue with the internal track.
I used the internal app sharing with link and it seems to work now. Sorry for that!

[2022-09-17 08:37] #106 closed

[2022-09-19 13:47] SudoPlz commented on #106
that was what I expected, no problem

[2022-09-20 13:46] kriss-u commented on #100
I am using the latest version. I am not even getting the Store version. I am not sure what went wrong.

[2022-09-21 13:25] danilomsou commented on #100
On android I'm getting an IOS version, I'm not getting the android version.

[2022-09-21 13:43] xtl-geiger commented on #100
Yes I ended up using the buildNumber from DeviceInfo and comparing it using a customVersionComparator.

[2022-09-26 16:08] alee0510 commented on #100
I had the same issue, can you give me your code snippet on how to implement customVersionComparator?

[2022-09-30 04:24] manjuy124 commented on #100
Anyone able to fix this/found a workaround? Also Is this issue with repo or google?

[2022-09-30 09:14] luckydunia054 commented on #100
Hi  @xtl-geiger can you provide more details that how have you resolved it?

[2022-10-11 01:00] demipixel commented on #100
So nobody else has to spend 2 hours solving this

[code]

[2022-10-15 15:49] taneli1 commented on #99
If anybody else faces this issue, check that the version the application tries to update to has a matching signature with the updating app.

My issue was that the test app tried to update to a production version in Playstore, which used a Google generated signature. This caused the signatures to not match, and the PackageManager ignored the application, and the installation failed.

[2022-11-01 07:02] gowtham171 opened #112 "Could not install the update"
After downloading can't install the update TIA

[2022-11-04 07:33] pedrodlz commented on #19
Still appears

[2022-11-04 13:37] pedrodlz commented on #100
It is not possible to obtain store version number instead of build number?

[2022-11-07 03:59] fukemy commented on #61
any solution, same problem with @rvuyyuru1

[2022-11-09 10:29] leabaertschi commented on #100
Same here, I absolutely need the store version number since we only want to compare the major part of the SemVer version. Is there a way to do that?

[2022-11-09 10:59] xtl-geiger commented on #100
@pedrodlz @leabaertschi I doubt it is possible using this dependency at the moment, seeing as it uses Android's `AppUpdateInfo` under the hood:

https://github.com/SudoPlz/sp-react-native-in-app-updates/blob/master/android/src/main/java/com/sudoplz/rninappupdates/SpReactNativeInAppUpdatesModule.java#L91

And `AppUpdateInfo` only provides these values:

https://developer.android.com/reference/com/g

[2022-11-09 11:01] JairajJangleSLIOT commented on #100
@leabaertschi You can use `react-native-store-version` to check the semantic version of the app on the App/Play store and then compare it with the installed app version.

[2022-11-09 11:02] pedrodlz commented on #100
I have moved to https://github.com/kimxogus/react-native-version-check and works perfectly fine.

[2022-11-09 11:41] leabaertschi commented on #100
Thanks everyone, I'll have a look at the proposed modules.

[2022-11-09 13:30] sukhjindersingh opened #114 "Not able to use it with React Native 0.60.5"
My app is built with React Native 0.60.5. I need this feature both for iOS and Android. However when I tried to install it, it gives me error.

[2022-11-14 06:24] Sofiya2696 opened #117 "IOS not getting the latest store verion"
In android its working as expected. For ios its showing the previous store version instead of current version.

 "shouldUpdate": false, "storeVersion": "2.2.0"